body{
    background-color: rgb(223, 240, 255);
    background-size: cover;
    padding: 2%;
    margin: 1%;
}
.main{
    background-image: url(bg4.jpg);
    padding: 10px;
    margin: 10px;
}

header{
    text-align: center;
    background-color: grey;
    padding:4%;
}
.option{
    color: black;
    padding: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    text-decoration: none;
    font-size: 0.5cm;
    font-weight: 500;

}
.option:hover{
    color: rgb(151, 120, 62);
}
.abt{
    padding: 12%;
}
.intro{
    text-align:start;
    padding: 6%;
    font-family: cursive;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    width: 50%;
    float: left;
}
.text{
    text-align: justify;
    font-size: 120%;
    font-weight: 500;
}
#about{
    padding: 2%;  
    text-align: center;
    font-size: large;  
}

.t3, .t4, .t5{
    text-align: center;
}
.skills{
    text-align:start;
    padding: 3%;
    font-family: cursive;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    height: 15%;
    width: 45%;
    float:left;
    background-color: rgb(22, 175, 175);
    margin: 1%;
}
.t3{
    box-sizing: border-box;
    width: 50%;
    float: left;
}
.skillhead{
    text-align: center;
    padding: 5%;
    font-size: 200%;
}
.project_head{
    text-align: center;
    padding: 4%;
    font-size: 200%;
}
.form, .google, .amazon{
    box-sizing: border-box;
    height: 200px;
    width: 30%;
    float: left;
    padding: 6%;
    margin: 10px;
    border: rgb(0, 0, 0) 2px solid;
}
.form{
    background-image: url(pay_form.png);
    background-size: cover;
}
.google{
    background-image: url(googlepage.png);
    background-size: cover;
}
.amazon{
    background-image: url(amazon_clone.png);
    background-size: cover;
}
.project{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    text-decoration: none;
    font-size: 0.5cm;
    font-weight: 700;
    text-align:start;
}
.project:hover{
    color: rgb(224, 198, 79);
}
.contact{
    text-align:center;
    padding: 2%;
    font-family: cursive;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    width: 50%;
    float:left;
}

footer{
    background-color: rgb(75, 75, 87);
    color: black;
    padding: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    text-decoration: none;
    font-size: 0.5cm;
    font-weight: 500;
    text-align: center;
}
.social_media{
    padding: 2%;
}